body {
  background: lightgrey;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
  box-sizing: border-box;
}

div#page {
  display: flex;
}

textarea {
  font-family: "Menlo", Courier, monospace;
  padding: 10px;
  font-size: 11px;
  color: #200775;
  background: #efeff4;
  border: none;
}

#stroke-data {
  width: 400px;
  height: 400px;
}

#stroke-data textarea {
  width: 100%;
  height: 100%;
}

canvas#draw {
  background: white;
  width: 400px;
  height: 400px;
}

.control-row {
  display: flex;
  flex-direction: horizontal;
  margin-top: 8px;
}

.control-row > label {
  width: 5em;
  font-weight: 600;
  margin-top: 3px;
  margin-right: 8px;
  text-align: right;
}
.control-row > button {
  border: none;
  border-radius: 8px;
  height: 20px;
  font-size: inherit;
  /* color: black; */
  /* background-color: white; */
}

.control-row > button:active {
  color: grey;
  background-color: white;
}

.control-row > input[type="range"] {
  -webkit-appearance: none;
  background: white;
  height: 20px;
  border-radius: 8px;
}

.control-row > input[type="range"]::-webkit-slider-runnable-track {
  margin: 7px;
}

.control-row > input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #333;
  border-radius: 1000px;
  cursor: pointer;
  height: 26px;
  margin: 2px 0;
  width: 6px;
}

.control-row > input[type="checkbox"] {
  -webkit-appearance: none;
  background: white;
  border-radius: 2px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 2px 0;
}

.control-row > input[type="checkbox"]:checked {
  background: grey;
}

.control-row input:focus,
.control-row button:focus {
  outline: none;
  box-shadow: 0 0 0 2pt rgba(0, 0, 0, 0.5);
}
